/* for the nav-bar */

body {
  font-family: sans-serif;
}

/* Show whitespaces in span */
span {
  white-space:pre;
}

/* font class */
.fontRoboLight {
  font-family: RoboLight;
}

@font-face {
  font-family: RoboLight;
  src: url('fonts/Roboto-Light.ttf');
}

.fontSansation {
  font-family: Sansation;
}
@font-face {
  font-family: Sansation;
  src: url('fonts/SVN-Sansation.ttf');
}

.fontRoboBold {
  font-family: RoboBold;
}

@font-face {
  font-family: RoboBold;
  src: url('fonts/Roboto-Bold.ttf');
}

.fontRoboLightItalic {
  font-family: RoboLightItalic;
}

@font-face {
  font-family: RoboLightItalic;
  src: url('fonts/Roboto-LightItalic.ttf');
}

.fontRoboReg {
  font-family: RoboReg;
}

@font-face {
  font-family: RoboReg;
  src: url('fonts/Roboto-Regular.ttf');
}

/* color class */
.colorGreen {
  color: #43D4A1;
}

.colorBlue {
  color: #1a3778;
}

.colorGrey {
  color: #808080;
}

.colorWhite {
  color: #f6f6f6;
}

.colorDarkBlue {
  color: #0f052e
}

/* font size */

.fontSize1vw {
  font-size: 1vw;
}

.fontSize1-2vw {
  font-size: 1.2vw;
}

.fontSize1-5vw {
  font-size: 1.5vw;
}

.fontSize2vw {
  font-size: 2vw;
}

/* background color class */
.bgGreen {
  background-color: #43D4A1;
}

.bgBlue {
  background-color: #1a3778;
}

.bgDarkBlue {
  background-color: #0C3B5A;
}

/* font awesome icon colors*/
.fas {
	color: #43D4A1 !important;
}

/* background image*/
.bgPhotoEnd {
  background-image: url('images/endblock3.jpg');
}

/* border-type class */
.borderRound {
  border-radius: 20px;
}

.borderBlue {
  border-color: #1a3778;
  border-width: medium;
}


/* align content of card-body to center */
.card-body-DichVu {
  display:flex;
  align-items: center;
  justify-content: center;
}

/* collapsing transition class */
.collapsing {
  transition: 1s;
}

/* transparent ìnput form class */
.transparent-input {
  background: #0f052e;
  border-color: #f6f6f6;
}

/* row height*/
.row-height-150{
  height: 150px;
}

/* button color*/
.btn-DarkBlue {
  background-color: #0f052e;
}

.btn-Green {
  background-color: #43D4A1;
}

/* container for timeline */
.timelineContainer {
	position: relative;
	text-align: left;
}

/* text over timeline classes */
.topRowMid {
	position: absolute;
	top: 10%;
	left: 36.5%;
}

.bottomRowLeft {
	position: absolute;
	top: 60%;
	left: 8%	
}

.bottomRowRight {
	position: absolute;
	top: 60%;
	left: 65%
}

