body {
    font-family: sans-serif;
  }
  
  /* for the nav-bar */
  
  /* Show whitespaces in span */
span {
    white-space:pre;
}

/* font class */
.fontRoboLight {
    font-family: RoboLight;
}
  
@font-face {
    font-family: RoboLight;
    src: url('../static/assets/template/fonts/Roboto-Light.ttf');
}

/* background imgge*/
.bgPhotoEnd {
    background-image: url('../static/assets/template/images/endblock.png');
  }