<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- to fit mobile screen -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="base1.css">
</head>

<body>
    <!-- navbar -->
    <div class="container-fluid mx-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Logo -->
            <img src="../images/logo.png" style="width: 10vw;">
            <!-- Collapse icon -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation options -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#DichVu">DỊCH VỤ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#BacSiTeam">ĐỘI NGŨ BÁC SĨ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">TIN TỨC<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#formDatLich">ĐẶT LỊCH KHÁM-LIÊN HỆ</a>
                    </li>
                </ul>
                <!-- Search bar -->
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>            
        </nav>
    </div>

    <!-- index for baiviet page -->
    <!-- divide into 2 columns -->
    <a href="#"><h3 class="colorDarkBlue fontSansation fontSize1-5vw pl-5 ml-5">Trang chính BÀI VIẾT VỀ HÔ HẤP</h3></a>
    <div class="container-fluid m-4">
        <div class="row">            
            <div class="col-md-1">
            </div>
            <div class="col-md-6 py-2">
                
                <!-- latest article will be put in front with big image -->
                <div>
                    <!-- illustration image -->
                    <h3 class="colorDarkBlue fontRoboBold fontSize1-5vw pt-3">VIÊM ĐƯỜNG HÔ HẤP TRÊN: LÀM THẾ NÀO ĐỂ KHỎI VÀ KHÔNG ĐỂ LẠI BIẾN CHỨNG?</h3>
                    <!-- short excerpt of the article-->
                    <p class="fontRoboLight fontSize1-2vw text-justify">Viêm đường hô hấp trên là gì?
                        Viêm hệ thống niêm mạc của MŨI – XOANG – HỌNG VÀ THANH QUẢN.
                        Là cơ quan tiếp xúc trực tiếp với không khí nên mọi điều kiện bất lợi của môi trường như bụi, nóng, lạnh, hơi độc, virus, vi khuẩn,.. đường hô hấp trên đều bị tác động. Bởi vậy nguy cơ mắc bệnh viêm đường hô hấp trên chiếm tỷ lệ cao hơn so với các bệnh về hô hấp khác.</p>
                    <img class="img-fluid borderRect" src="../images/baivietMoi.png">
                    <p class="fontRoboLight fontSize1-2vw pt-4 text-justify">Viêm đường hô hấp trên là chứng bệnh thường gặp hàng năm, dễ mắc và tái diễn nhiều lần, thường xuất hiện theo mùa, nhất là vào mùa khô hanh và mùa đông. Đối tượng dễ mắc bệnh nhất là trẻ em, người mẫn cảm với viêm đường hô hấp trên như người bị suy tủy, bạch cầu, suy giảm hệ miễn dịch sau ghép tạng, người nhiễm HIV,...</p>
                    <p class="fontRoboLight fontSize1-2vw text-justify">Trung bình 1 năm người trưởng thành có thể bị viêm đường hô hấp trên từ 2 - 4 lần, con số này cao hơn rất nhiều với trẻ em. Theo thống kế của Bộ Y tế nước ta, mỗi năm trẻ em có thể mắc phải bệnh này khoảng 10 lần.</p>
                    <p class="fontRoboLight fontSize1-2vw text-justify">Viêm đường hô hấp trên có nguy hiểm không
                        Bản thân bệnh viêm đường hô hấp trên không quá nguy hiểm và có khả năng chữa dứt điểm. Tuy nhiên do thái độ chủ quan của người bệnh, tự điều trị tại nhà không theo chỉ định của bác sĩ gây nên các biến chứng nguy hiểm.</p>
                    <p class="fontRoboLight fontSize1-2vw text-justify">Viêm đường hô hấp trên có: viêm MŨI, viêm XOANG và viêm HỌNG, THANH QUẢN. Một số tác giả còn coi VIÊM TAI GIỮA cũng là viêm đường hô hấp trên.</p>
                    <p class="fontRoboLight fontSize1-2vw text-justify">Các biến chứng nặng nhẹ sẽ tùy theo mức độ bệnh.<br>
                        - Tăng mức độ trầm trọng và biến chứng của các cơn “ngừng thở khi ngủ”.<br>
                        - Rối loạn giấc ngủ<br>
                        - Biến chứng mắt: thị lực giảm, nhiễm trùng ổ mắt, viêm não, tắc mạch xoang hang,...<br>
                        - Áp xe thành sau họng, viêm phổi, viêm hạch bạch huyết, nhiễm trùng huyết...<br>
                        - Biến chứng toàn thân: thấp tim, thấp khớp cấp, viêm cầu thận cấp...</p>
                    <p class="fontRoboLight fontSize1-2vw text-justify">Viêm đường hô hấp trên uống thuốc gì?<br>
                        - Việc điều trị là do bác sĩ khám, xác định nguyên nhân và khi đó mới có phương pháp điều trị chính xác.<br>
                        - Một số biện pháp hỗ trợ điều trị tại nhà hoặc phòng tránh bằng súc họng thường xuyên tại nhà. Một trong những sản phẩm sử dụng súc họng là SMC AG +</p>
                    <p class="fontRoboBold fontSize1vw text-right">PGS.TS.BS. Phạm Thị Bích Đào</p>

                    
                </div>
                <!-- other articles with title and short excerpt at the sides-->
                <hr>
                
                <h3 class="fontSize1-5vw mt-5">CÁC BÀI VIẾT LIÊN QUAN</h3>
                <div class="container text-left py-3">
                    <a href="#"><h4 class="colorDarkBlue fontSize1-2vw align-left">Chóng mặt khi mang thai</h4></a>
                    <a href="#"><h4 class="colorDarkBlue fontSize1-2vw">Quy trình cách ly người nhiễm, nghi nhiễm</h4></a>
                    <a href="#"><h4 class="colorDarkBlue fontSize1-2vw">Chóng mặt ở trẻ em</h4></a>
                    <a href="#"><h4 class="colorDarkBlue fontSize1-2vw">Chóng mặt và u dây thần kinh số VIII</h4></a>
                    <a href="#"><h4 class="colorDarkBlue fontSize1-2vw">Chóng mặt nguyên nhân do xơ nhĩ</h4></a>
                </div>

            </div>
            
            <!-- for other topics -->
            <div class="col-md-4 vl-short colScroll">
                <div class="timelineContainer pt-5">
                    <h3 class="fontSize1-5vw">CÁC CHỦ ĐỀ BÀI VIẾT</h3>
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">VẮC XIN PHÒNG BỆNH</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">THUỐC - KHÁNG SINH</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">COVID19 TIN TỨC</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">UNG THƯ</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">VIRUS - VI KHUẨN</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">CÁC BỆNH VỀ HÔ HẤP</p>
                </div>
                <div class="timelineContainer pt-5">
                    <a href="#"><img class="img-fluid" src="../images/t1-sm.png"></a>
                    <p class="textBelow colorWhite fontSize1vw">TỔNG HỢP</p>
                </div>
                
            








                
                <!-- <div class="row pt-3">
                    <div class="col-sm-5">
                        <img class="img-fluid" src="images/news.png">
                    </div>
                    <div class="d-flex">
                        <div class="d-flex align-items-center fontRoboBold fontSize1-5vw">COVID19 TIN TỨC</div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <!-- Ending block -->
    <div class="container-fluid p-5 bgPhotoEnd">
        <div class="row">
		
            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">PHÒNG KHÁM CHUYÊN KHOA<br>TAI-MŨI-HỌNG</h4>
				<img class="py-2 borderRound borderWhite" src="../images/logo.png" style="width: 10vw;">
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-map-marker-alt pr-2"></i>Số 29, Ngõ 41, Phố Vũ Ngọc Phan, Quận Đống Đa, Hà Nội</h5>
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-phone pr-2"></i>0912.189.853</h5>
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-envelope pr-2"></i>pktiensiphamthibichdao@gmail.com</h5>
					
            </div>
			
            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">ĐĂNG KÝ NHẬN TIN</h4>
                <h5 class="fontRoboLightItalic fontSize1vw px-2">Liên hệ với chúng tôi để biết thêm chi tiết</h5>
                <form method="POST">
                    <div class="form-row px-2">
                        <div class="form-group col-md-8">                           
                            <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn" name="email">
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-Green colorDarkBlue">Đăng ký</button>
                        </div>
                    </div>
                </form>
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue pt-3">THỜI GIAN LÀM VIỆC</h4>
				<div class="row py-2 px-2">
					<div class="col-md-8 fontRoboLight fontSize1-2vw">Thứ Hai - Thứ Sáu<br>Thứ Bảy<br>Chủ Nhật<br>Khám tại nhà theo lịch đặt trước</div>
					<div class="col-md-4 fontRoboLight fontSize1-2vw">17:00-20:00<br>16:00-20:00<br>15:00-20:00
					</div>
				</div>
				
            </div>
			
            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">FACEBOOK</h4>
                <a href="https://tinyurl.com/phongkhambsiDao"><img class="py-3" src="../images/fbPage.png"></a>
            </div>
        </div>
    </div>

    <!-- copyright block -->
	<div class="container-fluid bgGreen text-center p-2">
		<p class="fontSize1vw colorDarkBlue fontRoboReg pt-1">Bản quyền thuộc PHÒNG KHÁM CHUYÊN KHOA TAI MUI HONG. All rights reserved</p>
	</div>
    
    



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>