<!-- deployment zip -r deploy.zip ./* --exclude "*node_modules*" "*.next*" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- to fit mobile screen -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap Date-Picker plugin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- For icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="base1.css">
    <title>Trang Chủ</title>
</head>
<body>
    <!-- navbar -->
    <div class="container-fluid mx-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Logo -->
            <img src="../images/logo.png" style="width: 10vw;">
            <!-- Collapse icon -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation options -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">TRANG CHỦ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#DichVu">DỊCH VỤ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#BacSiTeam">ĐỘI NGŨ BÁC SĨ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tintuc">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#formDatLich">ĐẶT LỊCH KHÁM-LIÊN HỆ</a>
                    </li>
                </ul>
                <!-- Search bar -->
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>-->
            </div>
        </nav>
    </div>


    <!-- to have a front block as carousel -->
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- indicator -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- wrapper for slides -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/banner.png" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="../images/banner.png" style="width:100%;">
                </div>
                <div class="carousel-item">
                    <img src="../images/banner.png" style="width:100%;">
                </div>
            </div>
        </div>
    </div>


    <!-- Vi sao nen chon chung toi -->
    <div class="container-fluid mt-5 text-center">
        <p class="fontSansation" style="font-size: 3vw;">
            <span class="colorGreen">VÌ SAO NÊN CHỌN</span>
            <span class="colorBlue">CHÚNG TÔI</span>
        </p>
    </div>

    <div class="container-fluid m-5">
        <div class="row mx-3 my-3 text-center fontSize1vw">
            <div class="col-md-3 p-2">
                <img src="../images/h1.png" alt="Card image cap">
            </div>
            <div class="col-md-3 p-2">
                <img src="../images/h2.png" alt="Card image cap">
            </div>
            <div class="col-md-3 p-2">
                <img src="../images/h3.png" alt="Card image cap">
            </div>
            <div class="col-md-3 p-2">
                <img src="../images/h4.png" alt="Card image cap">
            </div>

            <div class="col-md-3">
                <p class="fontSize1-2vw fontRoboBold">BÁC SĨ CHUYÊN MÔN CAO</p>
                <p class="fontRoboLight">Đội ngũ bác sĩ giỏi chuyên môn, có nhiều năm kinh nghiệm tại bệnh viện Tai Mũi Họng TW.</p>
            </div>
            <div class="col-md-3">
                <p class="fontSize1-2vw fontRoboBold">NIỀM TIN VÀ LÝ TƯỞNG</p>
                <p class="fontRoboLight">Khách hàng là trọng tâm, chúng tôi luôn sẵn sàng chăm sóc bạn ân cần như chính thành viên trong gia đình.</p>
            </div>
            <div class="col-md-3">
                <p class="fontSize1-2vw fontRoboBold">TIÊU CHUẨN QUỐC TẾ</p>
                <p class="fontRoboLight">Phòng khám đáp ứng mọi tiêu chí về thiết kế, bố trí trang thiết bị theo tiêu chuẩn quốc tế.</p>
            </div>
            <div class="col-md-3">
                <p class="fontSize1-2vw fontRoboBold">CHI PHÍ HỢP LÝ</p>
                <p class="fontRoboLight">100% chi phí của chúng tôi đều công khai minh bạch và được nhập hệ thống cẩn thận.</p>
            </div>
        </div>
    </div>

    <!-- Dich vu tai phong kham -->
    <div id="DichVu" class="container-fluid bgGreen text-center">
        <p class="fontSansation pt-5" style="font-size: 3vw;">
            <span class="colorBlue">DỊCH VỤ TẠI</span>
            <span class="colorWhite">PHÒNG KHÁM</span>
        </p>
        <div class="container-fluid text-center px-3 pt-3 pb-5">
            <div class="card-deck fontSize1vw">
                <div class="card borderRound borderBlue">
                    <img class="card-img-top" src="../images/hinh-1.png" alt="Card image cap">
                    <div class="card-body card-body-DichVu">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM MŨI-XOANG</h5>
                    </div>
                </div>
                <div class="card borderRound borderBlue">
                    <img class="card-img-top" src="../images/hinh-2.png" alt="Card image cap">
                    <div class="card-body card-body-DichVu">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM TAI GIỮA</h5>
                    </div>
                </div>
                <div class="card borderRound borderBlue">
                    <img class="card-img-top" src="../images/hinh-3.png" alt="Card image cap">
                    <div class="card-body card-body-DichVu">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM HỌNG</h5>
                    </div>
                </div>
                <div class="card borderRound borderBlue">
                    <img class="card-img-top" src="../images/hinh-4.png" alt="Card image cap">
                    <div class="card-body card-body-DichVu">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM THANH QUẢN<br>KHÀN TIẾNG</h5>
                    </div>
                </div>
                <div class="card borderRound borderBlue">
                    <img class="card-img-top" src="../images/hinh-5.png" alt="Card image cap">
                    <div class="card-body card-body-DichVu">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM PHẾ QUẢN</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Doi ngu bac si -->
    <div id="BacSiTeam" class="container-fluid text-center">
        <p class="fontSansation pt-5 fontSize3vw">
            <span class="colorBlue">ĐỘI NGŨ</span>
            <span class="colorGreen">BÁC SĨ</span>
        </p>
        <!-- Collapse buttons -->
        <div id="accordion">
            <div class="container-fluid text-center px-3 pt-3 pb-5">
                <div class="card-deck fontSize1vw">
                    <a data-toggle="collapse" href=#collapse1>
                        <div class="card">
                            <img class="card-img-top" src="../images/bsiDao.jpg" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">PGS.TS.BS<br>PHẠM THỊ BÍCH ĐÀO</h5>
                            </div>
                        </div>
                    </a>

                    <div id="collapse1" class="panel-collapse collapse" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title fontRoboBold fontSize1-5vw">Hơn 20 năm kinh nghiệm</p>
                                <div class="card-text fontRoboLight colorGrey">
                                    <li>1996 Nội trú Bệnh viện - chuyên ngành Tai Mũi Họng</li>
                                    <li>2011 Tiến sĩ chuyên ngành Tai Mũi Họng</li>
                                    <li>2018 Được phong hàn Phó Giáo Sư y học</li>
                                    <li>1999 - nay, Giảng viên bộ môn TMH trường đại học Y Hà Nội - Bác sĩ khám và điệ trị tại bệnh viện đại học Y Hà Nội</li>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a data-toggle="collapse" href=#collapse2>
                        <div class="card">
                            <img class="card-img-top" src="../images/bsiDao.jpg" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM MŨI-XOANG</h5>
                            </div>
                        </div>
                    </a>

                    <div id="collapse2" class="card-collapse collapse" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
                            </div>
                        </div>
                    </div>



                    <a data-toggle="collapse" href=#collapse3>
                        <div class="card">
                            <img class="card-img-top" src="../images/bsiDao.jpg" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM MŨI-XOANG</h5>
                            </div>
                        </div>
                    </a>
                    <div id="collapse3" class="card-collapse collapse" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
                            </div>
                        </div>
                    </div>


                    <a data-toggle="collapse" href=#collapse4>
                        <div class="card">
                            <img class="card-img-top" src="../images/bsiDao.jpg" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">VIÊM MŨI-XOANG</h5>
                            </div>
                        </div>
                    </a>
                    <div id="collapse4" class="card-collapse collapse" data-parent="#accordion">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Form and Review of patients -->

    <div class="container-fluid">
        <div class="row">
            <!-- Form -->
            <div id="formDatLich" class="col-md-6 bgDarkBlue p-5 colorWhite">
                <form method="POST">
                    <!-- Dịch vụ-->
                    <h4 class="fontRoboBold fontSize1-5vw">DỊCH VỤ KHÁM</h4>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="chonDichVu" class="fontRoboLightItalic fontSize1-2vw">Chọn dịch vụ *</label>
                            <select class="form-control" id="chonDichVu" name="chonDichVu" required="required">
                                <option class="colorWhite">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>

                    <!-- Thông tín cá nhân -->
                    <h4 class="fontRoboBold fontSize1-5vw">THÔNG TIN ĐĂNG KÝ</h4>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="name" class="fontRoboLightItalic fontSize1-2vw">Họ tên*</label>
                            <input type="text" class="form-control" id="name" placeholder="Điền họ và tên" name="name" required="required">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="form-group col-md-6">
                            <label for="email" class="fontRoboLightItalic fontSize1-2vw">Email*</label>
                            <input type="email" class="form-control" id="email" placeholder="Điền email" name="email" required="required">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="tel" class="fontRoboLightItalic fontSize1-2vw">Số điện thoại*</label>
                            <input type="tel" class="form-control" id="tel" placeholder="Điền SĐT" name="tel" required="required">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="form-group col-md-4">
                            <label for="ngaySinh" class="fontRoboLightItalic fontSize1-2vw">Ngày sinh</label>
                            <input type="date" class="form-control" id="ngaySinh" placeholder="DD/MM/YYYY" name="ngaySinh">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address" class="fontRoboLightItalic fontSize1-2vw">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="Điền địa chỉ" name="address">
                    </div>

                    <!-- Lịch hẹn -->
                    <h4 class="fontRoboBold fontSize1-5vw">CHỌN LỊCH KHÁM</h4>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="ngayKham" class="fontRoboLightItalic fontSize1-2vw">Ngày khám*</label>
                            <input type="date" class="form-control" id="date" placeholder="DD/MM/YYYY" name="date" required="required">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="form-group col-md-5">
                            <label for="gioKham" class="fontRoboLightItalic fontSize1-2vw">Giờ khám*</label>
                            <select class="form-control" id="gioKham" name="chonDichVu" required="required">
                                <option>T2-T6 17:00-18:30</option>
                                <option>T2-T6 18:30-20:00</option>
                                <option>T7 16:00-17:30</option>
                                <option>T7 17:30-19:00</option>
                                <option>T7 17:30-19:00</option>
                                <option>T7 19:00-20:00</option>
                                <option>CN 15:00-16:30</option>
                                <option>CN 16:30-18:00</option>
                                <option>CN 18:00-20:00</option>
                            </select>
                        </div>
                    </div>
                    <!-- submit button -->
                    <div class="form-group pt-3">
                        <button name="submit" type="submit" class="btn bgGreen fontRoboBold fontSize1-5vw">ĐẶT LỊCH KHÁM</button>
                    </div>
                </form>

            </div>

                <div class="col-md-5 bgGreen p-5">
                    <div class="container-fluid colorBlue">
                        <div class="container text-center">
                            <h3 class="fontSize2vw fontRoboBold">Ý KIẾN CỦA NGƯỜI BỆNH</h3>
                        </div>
                        <div id="carouselExampleControls" class="carousel slide p-5" data-ride="carousel">
                            <!--<ol class="carousel-indicators">
                                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
                            </ol>-->

                            <div class="carousel-inner px-2">
                                <div class="carousel-item active">
                                    <!-- make a div-->
                                    <div class="row text-center">
                                        <div class="col">
                                            <img src="../images/review1.png">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">"Tôi bị viêm xoang từ lâu, bên trong mũi nhiều mủ và tiếp tục đau âm ỉ rất khó chịu. Sau khi đến phòng khám, được bác sĩ chẩn đoán sử dụng máy nội soi và tận tình chữa bệnh thì nay đã hết viêm xoang. Cám ơn bác sĩ Đào và phòng khám!"</p>
                                    </div>
                                    <div class="container text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">---NGỌC ANH---<br>Kế toán ngân hàng</p>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <!-- make a div-->
                                    <div class="row text-center">
                                        <div class="col">
                                            <img src="../images/h2.png">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">"Mình đến khám 1 lần thôi là khỏi luôn chứng đau họng dài ngày, mà chỉ cần dùng ít thuốc! Khỏi bệnh <br>rất nhanh, quy trình khám đơn giản 👍🏿"</p>
                                    </div>
                                    <div class="container text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">---MINH GIANG---<br>Sinh viên</p>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <!-- make a div-->
                                    <div class="row text-center">
                                        <div class="col">
                                            <img src="../images/h3.png">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">"Bác sĩ nhẹ nhàng, chuyên khoa rất tốt điều trị bệnh dứt điểm"</p>
                                    </div>
                                    <div class="container text-center p-3">
                                        <p class="fontSize1-2vw fontRoboReg">---NGUYỄN VIỆT---<br>Nhân viên</p>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-1 bgDarkBlue">
                </div>


        </div>
    </div>

    <!-- Tin tuc -->
    <div id="tintuc" class="container-fluid text-center">
        <h3 class="fontSansation colorDarkBlue fontSize3vw pt-5">TIN TỨC - BÀI VIẾT</h3>
        <div id="tintucCarousel" class="carousel slide p-5" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                <li data-target="#tintucCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#tintucCarousel" data-slide-to="1"></li>
                <li data-target="#tintucCarousel" data-slide-to="2"></li>
            </ol>-->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-deck fontSize1vw">
                        <div class="card">
                            <img class="card-img-top" src="../images/t1.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Vắc xin phòng bệnh</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t2.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Thuốc - Kháng sinh</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t3.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Covid-19 tin tức</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card-deck fontSize1vw">
                        <div class="card">
                            <img class="card-img-top" src="../images/t1.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Virus - Vi khuẩn</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t2.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Các bệnh về hô hấp</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t3.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Ung thư</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="card-deck fontSize1vw">
                        <div class="card">
                            <img class="card-img-top" src="../images/t1.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Thanh quản - Giọng nói</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t2.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Cúm</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="../images/t3.png" alt="Card image cap">
                            <div class="card-body card-body-DichVu">
                                <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">Tổng hợp</h5>
                            </div>
                        </div>
                    </div>



                    <!-- <div class="row">
                        <div class="col-md-4">
                            <a href="#"></a><img src="images/t1.png" class="img-fluid"></a>
                            <div class="caption">
                                <p class="fontRoboLight fontSize1-5vw">Thanh quản - Giọng nói</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="#"></a><img src="images/t2.png" class="img-fluid"></a>
                            <div class="caption">
                                <p class="fontRoboLight fontSize1-5vw">Cúm</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="#"></a><img src="images/t3.png" class="img-fluid"></a>
                            <div class="caption">
                                <p class="fontRoboLight fontSize1-5vw">Tổng hợp</p>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>

            <a class="carousel-control-prev" href="#tintucCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#tintucCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <!-- Ending block -->
    <div class="container-fluid p-5 bgPhotoEnd">
        <div class="row">

            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">PHÒNG KHÁM CHUYÊN KHOA<br>TAI-MŨI-HỌNG</h4>
				<img class="py-2 borderRound borderWhite" src="../images/logo.png" style="width: 10vw;">
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-map-marker-alt pr-2"></i>Số 29, Ngõ 41, Phố Vũ Ngọc Phan, Quận Đống Đa, Hà Nội</h5>
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-phone pr-2"></i>0912.189.853</h5>
                <h5 class="fontRoboLight fontSize1-2vw pt-1"><i class="fas fa-envelope pr-2"></i>pktiensiphamthibichdao@gmail.com</h5>

            </div>

            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">ĐĂNG KÝ NHẬN TIN</h4>
                <h5 class="fontRoboLightItalic fontSize1vw px-2">Liên hệ với chúng tôi để biết thêm chi tiết</h5>
                <form method="POST">
                    <div class="form-row px-2">
                        <div class="form-group col-md-8">
                            <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn" name="email">
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-Green colorDarkBlue">Đăng ký</button>
                        </div>
                    </div>
                </form>
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue pt-3">THỜI GIAN LÀM VIỆC</h4>
				<table className="working-hours-table fontRoboLight fontSize1-2vw py-2 px-2">
                    <tr>
                        <td>Thứ Hai - Thứ Sáu</td>
                        <td>17h00 - 20h00</td>
                    </tr>
                    <tr>
                        <td>Thứ Bảy</td>
                        <td>08h30 - 11h00, 16h00 - 20h00</td>
                    </tr>
                    <tr>
                        <td>Chủ Nhật</td>
                        <td>08h30 - 11h00, 15h00 - 20h00</td>
                    </tr>
                </table>
                <h5 class="fontRoboBold fontSize1-5vw colorDarkBlue pt-3 py-2 px-2">Khám tại nhà theo lịch đặt trước</h5>
            </div>

            <div class="col-md-4">
                <h4 class="fontRoboBold fontSize1-5vw colorDarkBlue">FACEBOOK</h4>
                <a href="https://tinyurl.com/phongkhambsiDao"><img class="py-3" src="../images/fbPage.png"></a>
            </div>
        </div>
    </div>

    <!-- copyright block -->
	<div class="container-fluid bgGreen text-center p-2">
		<p class="fontSize1vw colorDarkBlue fontRoboReg pt-1">Bản quyền thuộc PHÒNG KHÁM CHUYÊN KHOA TAI MUI HONG. All rights reserved</p>
	</div>




    <!-- <div id="accordion">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn" data-toggle="collapse" href=#collapse1 role="button" aria-expanded="false"
                    aria-controls="collapse1">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">BS A</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn" data-toggle="collapse" href=#collapse2 role="button" aria-expanded="false"
                    aria-controls="collapse2">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">BS A</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn" data-toggle="collapse" href=#collapse3 role="button" aria-expanded="false"
                    aria-controls="collapse3">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">BS A</h5>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="btn" data-toggle="collapse" href=#collapse4 role="button" aria-expanded="false"
                    aria-controls="collapse4">
                        <h5 class="card-text colorBlue fontSize1-5vw fontRoboBold">BS A</h5>
                    </a>
                </div>
            </div>
            <div id="collapse1" class="panel-collapse collapse" data-parent="#accordion">
                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            </div>
            <div id="collapse2" class="panel-collapse collapse" data-parent="#accordion">
                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            </div>
            <div id="collapse3" class="panel-collapse collapse" data-parent="#accordion">
                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            </div>
            <div id="collapse4" class="panel-collapse collapse" data-parent="#accordion">
                <h5 class="fontRoboLight colorGrey">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</h5>
            </div>
        </div> -->


        <!-- Collapsible contents -->










        <!-- <div id="accordion">
            <div class="container-fluid px-3 pt-3 pb-5">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="images/bs2.png" alt="Card image cap">
                        <div class="card-header" id="headingOne">
                            <button class="btn fontSize1-5vw colorBlue fontRoboBold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PGS.TS.BS PHẠM THỊ BÍCH ĐÀO
                            </button>
                        </div>

                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <p class="fontSize1-5vw fontRoboBold">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </p>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/bs2.png" alt="Card image cap">
                        <div class="card-header" id="headingTwo">
                            <button class="btn fontSize1-5vw colorBlue fontRoboBold" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                PGS.TS.BS PHẠM THỊ BÍCH ĐÀO
                            </button>
                        </div>

                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <p class="fontSize1-5vw fontRoboBold">BS NGUYỄN VĂN A</p>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/bs2.png" alt="Card image cap">
                        <div class="card-header" id="headingThree">
                            <button class="btn fontSize1-5vw colorBlue fontRoboBold" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                PGS.TS.BS PHẠM THỊ BÍCH ĐÀO
                            </button>
                        </div>

                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <p class="fontSize1-5vw fontRoboBold">BS NGUYỄN VĂN A</p>
                    </div>

                </div>
            </div>
        </div> -->








    <!-- <div class="row pt-5 text-center fontSize1vw">
        <div class="card-deck text-center fontSize1vw">
            <div class="card">
                <img class="card-img-top" src="h1.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text fontSize1-2vw fontRoboBold">BÁC SĨ CHUYÊN MÔN CAO</p>
                  <p class="card-text fontRoboLight colorGrey">Đội ngũ bác sĩ giỏi chuyên môn, có nhiều năm kinh nghiệm tại bệnh viện Tai Mũi Họng TW.</p>
                </div>
              </div>

              <div class="card">
                <img class="card-img-top" src="h2.png" alt="Card image cap">
                <div class="card-body">
                <p class="card-text fontSize1-2vw fontRoboBold">NIỀM TIN VÀ LÝ TƯỞNG</p>
                  <p class="card-text fontRoboLight colorGrey">Khách hàng là trọng tâm, chúng tôi luôn sẵn sàng chăm sóc bạn ân cần như chính thành viên trong gia đình.</p>
                </div>
              </div>

              <div class="card">
                <img class="card-img-top" src="h3.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text fontSize1-2vw fontRoboBold">TIÊU CHUẨN QUỐC TẾ</p>
                  <p class="card-text fontRoboLight colorGrey">Phòng khám đáp ứng mọi tiêu chí về thiết kế, bố trí trang thiết bị theo tiêu chuẩn quốc tế.</p>
                </div>
              </div>

              <div class="card">
                <img class="card-img-top" src="h4.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text fontSize1-2vw fontRoboBold">CHI PHÍ HỢP LÝ</p>
                  <p class="card-text fontRoboLight colorGrey">100% chi phí của chúng tôi đều công khai minh bạch và được nhập hệ thống cẩn thận.</p>
                </div>
              </div>

        </div>

    </div> -->
    <!-- to have a bottom block -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Bootstrap Date-picker plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Script for datepicker -->
    <script>
        $(document).ready(function(){
          var date_input=$('input[name="date"]'); //our date input has the name "date"
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
          };
          date_input.datepicker(options);
        })
    </script>
</body>
</html>