body {
  font-family: sans-serif;
}

/* for the nav-bar */

/* Show whitespaces in span */
span {
  white-space:pre;
}

/* font class */
._1UVhWHIkkYUq3acpxFMvDF {
  font-family: RoboLight;
}

@font-face {
  font-family: RoboLight;
  src: url(/_next/static/chunks/fonts/Roboto-Light-46e48ce0628835f68a7369d0254e4283.ttf);
}

.HwsAFyp07noGLBXdxfLCs {
  font-family: Sansation;
}
@font-face {
  font-family: Sansation;
  src: url(/_next/static/chunks/fonts/SVN-Sansation-f6230702f149a6e8ea9044478160035e.ttf);
}

._1HecIBxy8idFKWWfXT2yf4 {
  font-family: RoboBold;
}

@font-face {
  font-family: RoboBold;
  src: url(/_next/static/chunks/fonts/Roboto-Bold-e31fcf1885e371e19f5786c2bdfeae1b.ttf);
}

.LhhUMP28Zn0Q_cdkD4bUZ {
  font-family: RoboLightItalic;
}

@font-face {
  font-family: RoboLightItalic;
  src: url(/_next/static/chunks/fonts/Roboto-LightItalic-4356190d747fe8bea2bc7c83f25102fa.ttf);
}

._1DMU3FMNMROfQylMZ4_oy6 {
  font-family: RoboReg;
}

@font-face {
  font-family: RoboReg;
  src: url(/_next/static/chunks/fonts/Roboto-Regular-df7b648ce5356ea1ebce435b3459fd60.ttf);
}

/* color class */
._3mGxvWyhEhxpX_1MUqNA9Y {
  color: #43D4A1;
}

._2Sry6DJORvMdS36I4GOSKR {
  color: #1a3778;
}

._1S6kHerLNR8EULr4FNuCbS {
  color: #808080;
}

.FRt4-e8IkfuOAJc3SOB5I {
  color: #f6f6f6;
}

._1KWz6__vhB1Er-uXDcJj7d {
  color: #e2dccd;
}

.nXmZ9pr9vofZ8gM83uxB2 {
  color: #0f052e
}

/* font size */

._1Firha5qFIERbp8XLw6rVW {
  font-size: 1vw;
}

._2d1j_yO-Kxsf9C8Fy2h8gf {
  font-size: 1.2vw;
}

._10cPbyl8m6fFx7JS6mt8cl {
  font-size: 1.3vw;
}

._2WGxPPxuZ2mJJbc046JU6X {
  font-size: 1.5vw;
}

._1sA2-zibu0MdMf8THXYDIr {
  font-size: 2vw;
}

.FzFvW6-5R4CLM4Zy0cb9D {
  font-size: 3vw;
}

/* background color class */
._1oXa1aucTgf2KUr1FtT77U {
  background-color: #43D4A1;
}

._3uiWW3xodZb1yhXaQkYBFP {
  background-color: #1a3778;
}

._3Vvdf_3pnLyinD_pKv5OPM {
  background-color: #0C3B5A;
}

/* background imgge*/
._2uQBxH5vZr55Ht3HpmmJYv {
  background-image: url(/_next/static/images/endblock-33ac0eac3e7e68b042edc4a810ffb951.png);
}

._1TV_PSvxPnpiYG5LsZ-vLN {
  background-image: url(/_next/static/images/aboutbg-8ac6c216a474b6a137304cb04be8cf9e.png);
}

._1Lbah29vOhFhGtEoWweMW3 {
  background-image: url(/_next/static/images/timeline2-bfd4a04baf215fb5dd916ee211b27294.png);
}

/* border-type class */
.ycdg4RYwcxJtzBz9aqv_p {
  border-radius: 20px;
}

._2LPE3WY8EIfzD4e2iSbbA1 {
  border-radius: 15px;
}

._1IMnmCRUh0Hv5r6ACy2Btc {
  border: solid;
}

._2OaQAyuVrUjXLfxrEekwxN {
  border-color: #1a3778;
  border-width: medium;
}

._1wOr5F_GBa67XEVg9Lon0y {
  border-color: #f6f6f6;
  border-width: medium;
}


/* align content of card-body to center */
._1cLWYrp5gw3JoiSuHVzlIp {
  display:flex;
  align-items: center;
  justify-content: center;
}

/* collapsing transition class */
.qXX-xKGThZivvwFsV2PhZ {
  transition: 1s;
}

/* transparent ìnput form class */
.aOEPxt6SifjC3_qo1Fbui {
  background: #0f052e;
  border-color: #f6f6f6;
}

/* row height*/
._3aMN-9pVRzyDkRg1Mj8eEw{
  height: 150px;
}

/* button color*/
._3So62VZnKWePUhoKUp6WcG {
  background-color: #0f052e;
}

._3NAUNJdESluj9JS9EyZO7h {
  background-color: #43D4A1;
}

/* font awesome icon colors*/
.xyqBchWCO1nfn4ZjKGQwE {
    color: #43D4A1 !important;
}

/* container for timeline */
._156xXSdJkfVt24PJw9vO2- {
    position: relative;
    text-align: center;
}

/* text over timeline classes */
.MzzA329MYKWxI5zT-v_-r {
    position: absolute;
    top: 10%;
  left: 36.8%;
  right: 33%;
}

._1RBPOF-N6MhO4dwvasZkmv {
    position: absolute;
    top: 60%;
  left: 8%;
  right: 66%
}

._3vquiq2t5FZU0fA_AkhawY {
    position: absolute;
    top: 60%;
  left: 66.5%;
  right: 5%;
}

/* text below photo*/
.VRjVFWoeWNSEVY_xvHxmW {
  position: absolute;
  top: 80%;
  left: 10%;
  right: 10%;
}

/* flex class */
item {
  flex: 1 1 0px; 
} 

/* horizontal and vertical lines for baivietTemplate.html*/
._2FzjB1jgyqzv_tHpAgeW5o {
  border-left: 1px solid #ececec;
  position: absolute;
  height: 3100px;
  left: 62%;
  top: 10%;
}

._6Anl2dYh_9-YOc5yAxFmX {
  border-left: 1px solid #ececec;
  position: absolute;
  height: 3000px;
  left: 62%;
  top: 10%;
}


/* pagination class */
._1EvCp1Fe1bB-JcTjioLYiP {
  display: inline-block;
  align-self: right;
}

._1EvCp1Fe1bB-JcTjioLYiP a {
  color: #0f052e;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

._2eHoBHbB7QuwNBjZVUhHHE a._1GlsT95MlMAshZNXvzApyA {
  background-color:#0f052e;
  color: #e2dccd;
}

._1EvCp1Fe1bB-JcTjioLYiP a:hover:not(._1GlsT95MlMAshZNXvzApyA) {background-color: #ddd;}

/* for scrolling */
.rMkwAw5-JPhn4w95k5W4z {
  height: 700px;
  overflow-y: scroll;
}

/*# sourceMappingURL=styles.chunk.css.map*/