html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding-top: 50px;
}

/* for the nav-bar */

/* Show whitespaces in span */
span {
  white-space:pre;
}

/* font class */
.fontRoboLight {
  font-family: RoboLight;
}

@font-face {
  font-family: RoboLight;
  src: url('../static/assets/template/fonts/Roboto-Light.ttf');
}

.fontSansation {
  font-family: Sansation;
}
@font-face {
  font-family: Sansation;
  src: url('../static/assets/template/fonts/SVN-Sansation.ttf');
}

.fontRoboBold {
  font-family: RoboBold;
}

@font-face {
  font-family: RoboBold;
  src: url('../static/assets/template/fonts/Roboto-Bold.ttf');
}

.fontRoboLightItalic {
  font-family: RoboLightItalic;
}

@font-face {
  font-family: RoboLightItalic;
  src: url('../static/assets/template/fonts/Roboto-LightItalic.ttf');
}

.fontRoboReg {
  font-family: RoboReg;
}

@font-face {
  font-family: RoboReg;
  src: url('../static/assets/template/fonts/Roboto-Regular.ttf');
}

/* color class */
.colorGreen {
  color: #43D4A1;
}

.colorBlue {
  color: #1a3778;
}

.colorGrey {
  color: #808080;
}

.colorWhite {
  color: #f6f6f6;
}

.colorOffWhite {
  color: #e2dccd;
}

.colorDarkBlue {
  color: #0f052e
}

/* font size */

.fontSize1vw {
  font-size: max(11px, 1vw);
}

.fontSize1-2vw {
  font-size: max(12px, 1.2vw);
}

.fontSize1-3vw {
  font-size: max(12px, 1.3vw);
}

.fontSize1-5vw {
  font-size: max(15px, 1.5vw);
}

.fontSize2vw {
  font-size: max(20px, 2vw);
}

.fontSize3vw {
  font-size: max(25px, 3vw);
}

/* font for timeline text only */
.fontSize-timeline-text {
  font-size: max(11px, 1.2vw);
}

/* background color class */
.bgWhite {
  background-color: white;
}

.bgGray {
  background-color: #e7e7e7;
}

.bgGreen {
  background-color: #43D4A1;
}

.bgBlue {
  background-color: #1a3778;
}

.bgDarkBlue {
  background-color: #0C3B5A;
}

/* background image*/
.bgPhotoEnd {
  background-image: url('../static/assets/template/images/endblock.png');
}

.bgAboutTop {
  background-image: url('../static/assets/template/images/aboutbg.png');
}

.bgTimeline {
  background-image: url('../static/assets/template/images/timeline2.png');
}

/* border-type class */
.borderRound {
  border-radius: 10px;
}

.borderLightRound {
  border-radius: 15px;
}

.borderRect {
  border: solid;
}

.borderBlue {
  border-color: #1a3778;
  border-width: medium;
}

.borderWhite {
  border-color: #f6f6f6;
  border-width: medium;
}

/* for navbar collapse */
.navbar-toggler-icon {
  height: 30px;
}
.nav-item {
  text-align: right;
  margin-right: 10px;
}

/* for dropdown of News in navbar */
.dropdown-menu {
  border: none;
}
.dropdown-item {
  text-align: right;
}

/* for image in card in Reason*/
.card-container {
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 50%;
}
.card-img-container {
  max-width: 60px;
  height: 140px;
  margin-bottom: 10px;
}
.card-img {
  margin-bottom: 10px;
}

/* for image in card in doctorTeam*/
.accordion-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctorCardStyle {
  width: max(190px, 11vw);
  border: none;
  margin-bottom: 2rem;
}

.doctorCardText {
  color: #1a3778;
  font-size: 1rem;
  font-family: RoboBold;
  margin-bottom: 2rem;
}

.doctorCard {
  transform-style: preserve-3d;
  transition: 0.5s transform;
  cursor: pointer;
}

.doctorCard.doctorCardClicked {
  transform: rotateY(-180deg);
}

.doctorCardFront, .doctorCardBack {
  -webkit-backface-visibility: hidden;
}

.doctorCardFront {
  background-color: white;
}

.doctorCardBack {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 15px;
  transform: rotateY(-180deg);
  text-align: center;
  /*overflow: scroll;*/
  padding: 5px;
}

.doctorPartialInfo {
  top: 60px;
}

.doctorCollapsing {
  /* override bootstrap .collapsing class with transition 1s */
  transition: 0.5s !important;
}

.doctorDescription {
  margin: 10px;
}

/* for card in Service */
.card-service-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-service-container {
  width: min(250px,100vw);
}

/* align content of card-body to center in Service */
.card-body-DichVu {
  display:flex;
  align-items: center;
  justify-content: center;
}

/* for carousel item in Form Review */
.carousel-item {
  padding-top: 20px;
  /* min-height: 500px; */
}

/* for card in News */
.card-news-container {
  /* height: max(230px, 15vw); */
  width: max(200px, 12vw);
  margin: 10px;
}

/* for fb image in Footer */
.fb-img-container {
  height: max(180px, 10vw);
  width: max(350px, 20vw);
}

/* for Dang ky button in Footer */
.button-container-footer {
  width: 100px;
}

/* for working hours table */
.working-hours-table {
  margin: 10px;
}

.working-hours-table td {
  padding: 2px 7px 7px 2px;
}

/* collapsing transition class */
.collapsing {
  transition: 1s;
}

/* transparent ìnput form class */
.transparent-input {
  background: #0f052e;
  border-color: #f6f6f6;
}

/* row height*/
.row-height-150{
  height: 150px;
}

/* button color*/
.btn-DarkBlue {
  background-color: #0f052e;
}

.btn-Green {
  background-color: #43D4A1;
}

.btn-Green:hover {
  background-color: white;
  color: #0f052e;
  border-color: #0f052e;
}


/* container for timeline */
.timelineContainer {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    min-width: 800px;
}

/* text over timeline classes */
.topRowMid {
  position: absolute;
  top: 10%;
  left: 36.8%;
  right: 33%;
}

.bottomRowLeft {
  position: absolute;
  top: 60%;
  left: 8%;
  right: 66%
}

.bottomRowRight {
    position: absolute;
    top: 60%;
  left: 66.5%;
  right: 5%;
}

/* text below photo*/
.textBelow {
  position: absolute;
  top: 80%;
  left: 10%;
  right: 10%;
}

/* flex class */
item {
  flex: 1 1 0px;
}

/* horizontal and vertical lines for baivietTemplate.html*/
.vl {
  border-left: 1px solid #ececec;
  position: absolute;
  height: 3100px;
  left: 62%;
  top: 10%;
}

.vl-short {
  border-left: 1px solid #ececec;
  position: absolute;
  height: 3000px;
  left: 62%;
  top: 10%;
}


/* pagination class */
.paginationCustom {
  display: inline-block;
  align-self: right;
}

.paginationCustom a {
  color: #0f052e;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginationCustome a.active {
  background-color:#0f052e;
  color: #e2dccd;
}

.paginationCustom a:hover:not(.active) {background-color: #ddd;}

/* for scrolling */
.colScroll {
  height: 550px;
  overflow-y: scroll;
  text-align: center;
}

.navbar{
  height: 50px;
}

/* for aboutUs image container*/
.about-img-container {
  max-width: 300px;
  margin-bottom: 10px;
}

/* for opening hour in about page*/
.opening-hour-container {
  min-width: 200px;
}

/* for image in gallery in about page*/
.gallery-carousel {
  height: 250px;
}

.gallery-img {
  max-width: 300px;
  height: auto;
}

/* for image in posts other Topics*/
.otherTopics-img-container {
  width: max(150px, 6vw);
  margin-bottom: 5px;
}

/* for the small view of each article to select which one to edit*/
.editPostsContainer {
  margin: 0 100px 0 100px;
  padding: 20px;
}

.editPostGroupContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editPostGroupContainer > * {
  margin-right: 20px;
}

.btn-link {
  font-size: 25px;
  text-align: center;
}

.btn-link:hover {
  text-decoration: none;
}

.postSmView {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  cursor: pointer;
}

.postSmView small {
  color: rgb(158, 157, 157);
}

.postSmView Link {
  cursor: pointer;
}

.postSmView ul {
  padding: 0;
}

.singleEditPostContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: row;
}

.singleEditPostContainer > * {
  margin-top: 20px;
}

.singleEditPostContainer label {
  font-weight: bold;
}

.singleEditPostContainer input, textarea, select, .alert {
  padding: 10px;
  width: 250px;
  display: flex;
  flex-direction: row;
}

.singleEditPostContainer textarea {
  padding: 10px;
  height: 800px;
  width: 800px;
}

.singleEditPostContainer label {
  margin-top: 10px;
}

.articleContentContainer {
  font-weight: normal;
  text-align: justify;
  padding: 10px;
  width: 800px;
}
.hidden {
  display: none;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .gallery-carousel {
    height: 100%;
  }
}